body {
    background: url('./background.jpg');
}

.choices {
    display:flex;
    flex: 1;    
    min-height: 30vh;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    overflow: auto;
    max-width: 69vh;
    margin: auto;
    background-color: rgba(0,0,0,0.9);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: gold;
    font-weight: 600;
    font-size: 40px;
}

#results {
    
    font-size: 35px;
    font-family: monospace;
    color: seashell;
    padding: 1rem;
    

}

.fade-in {
    animation: fadeIn 2s;
    opacity: 1;
    }

#score {
    
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: seashell;
    padding: 1rem;

}

#rounds {
    
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: seashell;
    padding: 1rem;

}

h1 {
    display:flex;
    flex: 1;    
    min-height: 10vh;
    align-items: center;
    justify-content: center;
    color:steelblue;
    font-family: monospace;
    font-size: 100px;
}

.choice {
    border: 3px solid gold;
    border-radius: 5px;
    margin: 2rem;
    font-size: 1.5rem;
    padding: 2rem 1rem;
    transition: all 0.1s;
    width: 125px;
    text-align: center;
    color: black;
    background: white;
    text-shadow: 0 0 7px silver;
}

.choice:hover {
    background: silver;
}

#rock {
    border: 3px solid silver;
}

#paper {
    border: 3px solid brown;
}

#scissor {
    border: 3px solid gold;
}

.info-box {
    display:flex;
    flex: 1; 
    flex-direction: column;   
    min-height: 20vh;
    align-items: center;
    justify-content: center;
}

